*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  display: flex;
  justify-content: space-between;
  border: 2px solid red;
  padding: 5% 5% 6% 5%;
  height: 85vh;
}


.shows{
  overflow: scroll;
}
.shows::-webkit-scrollbar {
  display: none;
}
